*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 100%;
    background: rgb(123, 84, 183);
}
.left-side{
    display: flex;
    width: 60%;
}
.right-side{
    width: 40%;
    margin-left: 630px;
}
.header-margine{
    margin-top: 22px;
}
nav a{
    size: 16px;
    padding: 5px;
    text-decoration: none;
    color: white;
}
.logo{
    font-size: 35px;
    color: white;
    padding: 15px;
}

.icon{
    color: white;
    margin-left: 10px;
    margin-top: 24px;
    padding-left: 8px;
    cursor: pointer;
}
.button1{
    font-weight: 600;
    margin-left: 40px;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1.5px solid #ffe484;
    color: #ffe484;
    text-decoration: none;
}
.button1:hover{
    color: black;
    background-color: #ffe484;
}



.Main{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.main-left{
    width: 700px;
}
.main-left h1{
    padding-left: 60px;
    color: #212529;
    font-size: 4rem;
    line-height: 1;
    font-weight: 450  ;
  
}
.main-left p{
    padding-left: 60px;
    font-size: calc(1.275rem + .3vw);
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #495057;
}
.main-btn{
    margin-top: 15px;
    margin-left: 60px;
}
.mn-btn1{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #7952b3;
    border: none;
    padding: 17px 35px;
    border-radius: 4px;
}
.mn-btn2{
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #6C757D;
    border-color: #6C757D;
    background-color: white;
    padding: 15px 35px;
    border-radius: 4px;
}
.mn-btn2:hover{
    background-color: #6C757D;
    color: white;
}
.mn-btn1:hover{
    background-color: rgba(111,66,193,1);
}
.version-text{
    text-decoration: none;
}
.version-text-margin{
    margin-top: 10px;
    margin-left: 60px;
}
.first-image{
    width: 500px;
    height: 400px ;
}








